
header {
    background-color: #666;
    padding: 30px;
    text-align: center;
    font-size: 35px;
    color: white;
  }

nav {
    float: left;
    width: 150px;
    padding: 20px;
    background: #ccc;
    padding: 20px;
  }

  article {
    float: left;
    padding: 20px;
    width:500px;
  }

  footer {
    background-color:;
    padding: 10px;
    text-align: center;
    color: black;
  }