#cont{
    position: absolute;
    margin: 30px 50px 30px 50px;
    width: 500px;
    text-align: justify;
    background-color:;
    right: 0px;
}

fieldset{
    background-color: azure;
}
.de{
    font-size: large;
}