body{
    background-color: beige;
    text-align: center;
    margin: 30px 50px 30px 50px;
    font-family: 'Segoe UI', Tahoma, sans-serif;
    font-size: 75%;
}

a:link, a:visited{
    text-decoration: none;
  }
  
  
  
  a:hover,a:active {
    text-decoration: underline;
  }
  
table{
    text-align: center; 
    border-collapse: collapse;  
}

.lines{
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
#borders{
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  

#nav{
    text-align: left;
    font-size: 5px;

}